@font-face {
    font-family: 'Staatliches';
    src: url('../Staatliches-Regular.ttf') format('truetype');
}

*
{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', Arial;
}

html
{
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus, textarea:focus
{
    outline: none;
}

body
{
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -- Header -- */

#VBot_text_logo
{
    width: 10em;
    margin: 1.25em 0;
}

/* -- Section centrale -- */

section 
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section > div {
    width: 30em;
}

.box
{
    background-color: #FFFFFF;
    padding: 1.25em;
    border-radius: 0.9375em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em 0;
}

h2, h3 
{
    color: #4F4F4F;
}

h2
{
    margin-right: 0.25em;
}

#donation-btn, .save-btn, .config-btn
{
    background-color: #09B2BB;    
}

#donation-btn h3, .save-btn p
{
    color: #FFFFFF;
}

label, .caption
{
    color: #D9D9D9;
}

.caption, p, input
{
    font-size: 1.25em;
}

label, h3
{
    font-size: 1.75em;
}

h2
{
    font-size: 2.5em;
}

input
{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin: 0 0.5em;
}

input, textarea
{
    border: 0.35em solid #09B2BB;
    border-radius: 1em;
}

textarea
{
    width: 94%;
    height: 15em;
    resize: none;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.config-btn
{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.save-btn
{
    width: 6em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    padding: 0.25em;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);*/
}

.save-btn img {
    width: 1.25em;
}

.box-title, ul li, .box-config, .secondary-box
{
    display: flex;
    align-items: center;
}

ul li > div
{
    width: 35%;
    margin: 0 5%;
}

li, .box-save
{
    display: flex;
    justify-content: center;
}

.box ul
{
    margin: 0.75em 0;
}

.save-btn:active, .secondary-box:hover, .config-btn:active
{
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25)!important;
}

.secondary-box img
{
    margin: 0 1.25em 0 0.5em;
}

li, textarea
{
    margin: 1.5em 0;
}